:root {
  --verde-principal: #006330;
  --verde-claro: #90c940;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: #333;
  overflow-x: hidden;
}

/* Topbar */
.topbar{
  position:sticky;
  top:0;
  z-index:50;
  background:#fff;
  border-bottom:1px solid #e6ebf0;
  box-shadow: 0 2px 10px rgba(0,0,0,.03);
}
.nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:14px 0;
}
.brand{
  display:flex;
  align-items:center;
  gap:10px;
  text-decoration:none;
  color:inherit;
  font-weight:700;
}
.brand__logo{
  width:34px; height:34px;
  border-radius:8px;
  background:#e9f6ef; 
}
.brand__name{white-space:nowrap}
.menu{
  display:flex; gap:22px; align-items:center;
}
.menu a{
  color:#141a1f;
  text-decoration:none;
  font-weight:600;
  font-size:14px;
}
.menu a.active {
  color: #90c940;
}
.menu a:hover{opacity:.85}
.menu-toggle{display:none}

.main-bg {
  background: linear-gradient(174deg, #c3ffd9 15%, #e9f2eb 90%);
}

.footer-bg {
  background: linear-gradient(
    to right,
    rgba(196, 196, 196, 1) 0%,
    rgba(170, 199, 130, 1) 39%,
    rgba(157, 200, 97, 1) 65%,
    rgba(144, 201, 64, 1) 100%
  );
}

.footer-logo {
  max-width: 220px;
  height: auto;  
  margin-top: -27px; 
}

footer a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

footer .bi {
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

footer .bi:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .footer-logo {
      max-width: 180px;
      height: auto;
  }

  
}