:root {
  --verde-principal: #006330;
  --verde-claro: #90c940;
}

body {
  font-family: 'Quicksand', 'Inter', 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: #333;
  overflow-x: hidden;
  .uwy.userway_p1 .userway_buttons_wrapper { top: auto !important;
bottom: 20px !important; }
}

.topbar {
  position: sticky;
  top: 0;
  z-index: 1050;
  background: #fff;
  border-bottom: 1px solid #e6ebf0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
}

h1{
  font-size: clamp(28px, 4vw + 8px, 35px);  
}

h2{
  font-size: clamp(14px, 1.4vw + 8px, 20px);
}

.brand__logo {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background: #e9f6ef;
}

.navbar-brand span {
  color: #006330;
  font-weight: 700;
  white-space: nowrap;
}

.navbar-nav .nav-link {
  color: #141a1f !important;
  font-weight: 600;
  font-size: 14px;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #90c940 !important;
  opacity: 0.9;
}

.navbar-nav .nav-link.active {
  color: #90c940 !important;
  font-weight: 700;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav {
  gap: 15px;
}

/* Ajustes responsivos */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
    gap: 10px;
  }

  .navbar-collapse {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
}

.main-bg {
  background: linear-gradient(180deg, #ffffff 0%, #f1f8e9 100%);
}

.footer-bg {
  background: linear-gradient(
    to right,
    rgba(196, 196, 196, 1) 0%,
    rgba(170, 199, 130, 1) 39%,
    rgba(157, 200, 97, 1) 65%,
    rgba(144, 201, 64, 1) 100%
  );
}

.footer-logo {
  max-width: 220px;
  height: auto;  
  margin-top: -27px; 
}

footer a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

footer .bi {
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

footer .bi:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .footer-logo {
      max-width: 180px;
      height: auto;
  }

  
}