body {
  background: linear-gradient(135deg, #90c940 0%, #006330 71%);
  font-family: "Poppins", sans-serif;
  color: #333;
}

.fale-conosco {
  margin-top: -80px;
  min-height: 100vh;
}


.accordion-item {
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.accordion-button {
  border-radius: 10px;
  font-weight: 500;
  color: #333;
}

.accordion-button:not(.collapsed) {
  color: #006330;
  background-color: #e9f5e9;
  box-shadow: none;
}

.accordion-button::after {
  filter: invert(42%) sepia(91%) saturate(2776%) hue-rotate(98deg) brightness(80%) contrast(120%);
}

/* Cards */
.botao-card {
  border: none;
  border-radius: 15px;
  color: white;
  transition: transform 0.2s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  padding: 1.5rem 1rem;
}

.card-agricultor {
  background-color: #006330;
}

.card-comunidade {
  background-color: #006330;
}

.botao-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  background-color: #3f8d2e;
}

.botao-card i {
  color: white;
  transition: transform 0.2s ease;
}

.botao-card:hover i {
  transform: scale(1.2);
}

p {
margin: 0;
  font-size: 0.9rem;
}

.cards-container {
  margin-top: 145px !important; 
}

/* RODAPÉ */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
}

.footer-bg {
  background: linear-gradient(
    to right,
    rgba(196, 196, 196, 1) 0%,
    rgba(170, 199, 130, 1) 39%,
    rgba(157, 200, 97, 1) 65%,
    rgba(144, 201, 64, 1) 100%
  );
}

.footer-logo {
  max-width: 220px;
  height: auto;  
  margin-top: -27px; 
}

footer a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

footer .bi {
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

footer .bi:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .footer-logo {
    max-width: 180px;
    height: auto;
  }
}