body {
  background: linear-gradient(160deg, #90c940 0%, #6bb734 40%, #006330 100%);
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: #333;
}

/* Topbar */
.topbar{
  position:sticky;
  top:0;
  z-index:50;
  background:#fff;
  border-bottom:1px solid #e6ebf0;
  box-shadow: 0 2px 10px rgba(0,0,0,.03);
}
.nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:14px 0;
}
.brand{
  display:flex;
  align-items:center;
  gap:10px;
  text-decoration:none;
  color:inherit;
  font-weight:700;
}
.brand__logo{
  width:34px; height:34px;
  border-radius:8px;
  background:#e9f6ef; 
}
.brand__name{white-space:nowrap}
.menu{
  display:flex; gap:22px; align-items:center;
}
.menu a{
  color:#141a1f;
  text-decoration:none;
  font-weight:600;
  font-size:14px;
}
.menu a.active {
  color: #90c940;
}
.menu a:hover{opacity:.85}
.menu-toggle{display:none}

.fale-conosco {
  margin-top: -80px;
  min-height: 100vh;
}


.accordion-item {
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.accordion-button {
  border-radius: 10px;
  font-weight: 500;
  color: #333;
}

.accordion-button:not(.collapsed) {
  color: #006330;
  background-color: #e9f5e9;
  box-shadow: none;
}

.accordion-button::after {
  filter: invert(42%) sepia(91%) saturate(2776%) hue-rotate(98deg) brightness(80%) contrast(120%);
}

.fale{
  margin-top: 80px;
}

.form{
  margin-top: 150px !important;
}
p {
margin: 0;
  font-size: 0.9rem;
}

.cards-container {
  margin-top: 145px !important; 
}

/* RODAPÉ */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
}

.footer-bg {
  background: linear-gradient(
    to right,
    rgba(196, 196, 196, 1) 0%,
    rgba(170, 199, 130, 1) 39%,
    rgba(157, 200, 97, 1) 65%,
    rgba(144, 201, 64, 1) 100%
  );
}

.footer-logo {
  max-width: 220px;
  height: auto;  
  margin-top: -27px; 
}

footer a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

footer .bi {
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

footer .bi:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .footer-logo {
    max-width: 180px;
    height: auto;
  }
}