* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #ffffff;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  gap: 40px; 
}

.left {
  flex: 1;
  min-width: 320px;
  text-align: center;
  padding: 20px;
}

.coisa{ 
margin-top: 35px;
}

.img {
  margin-left: 17px ;
  margin-top: 25px;
}

.tag {
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid #D1D1D1;
    padding: 6px 12px;
    margin-bottom: 15px;
    background: transparent;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.tag::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #045D15;
    opacity: 0.5;
    border-radius: inherit;
    z-index: -1;
}

.tag img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.subtitle {
  margin-top: 20px;
  font-size: 1.2rem;
}

.right {
  flex: 1;
  min-width: 320px;
  background-color: #145c2a;
  color: #fff;
  padding: 40px 60px; 
  border-radius: 0 0 0 20px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.logo {
  width: 85px;
  position: absolute;
  top: 25px;
  right: 25px;
}

h2 {
  text-align: center;
  margin: 70px 0 30px 0; 
  font-size: 1.3rem;
}

.card {
  display: flex;
  align-items: flex-start;
  background-color: #f2f2f2;
  color: #000;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  gap: 15px;
}
.card img[alt="Ícone clima"] {
  width: 60px;
  height: auto;
}
.card h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.card p {
  font-size: 0.9rem;
  line-height: 1.3;
}

.icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

/* ----- RESPONSIVO ----- */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .right {
    border-radius: 0;
    width: 100%;
  }

  .logo {
    position: static;
    display: block;
    margin: 0 auto 15px;
  }

  h2 {
    margin-top: 10px;
  }
}
